= render 'shared/error_messages', :object => fields.object
.clearfix
  = fields.label :name
  = fields.text_field :name, :autofocus => true
.clearfix
  = fields.label :email
  = fields.text_field :email
.clearfix
  = fields.label :password
  = fields.password_field :password
.clearfix
  = fields.label :password_confirmation, "Confirm password"
  = fields.password_field :password_confirmation