.row
  .welcome-blurb.span7
    %h2 Welcome to NextStep

    %p
      NextStep is a project tracker to help keep things organized in a simple way.
      It's loosely based on some of the principles from David Allen's
      #{link_to "Getting Things Done", "http://www.amazon.com/gp/product/0142000280", :target => "_blank"}.

    %p
      #{link_to "Contact me", contact_path }

  .sign-in.span4
    = form_for(@user, :html => { :class => 'form-stacked' }) do |f|
      %fieldset
        %legend Sign up
        = render 'fields', :fields => f
        = f.submit "Sign up", :class => "btn primary"
      %h3 Existing user? #{link_to "Sign in", root_path}
