%tr{:id => project_counter + 1, :project_id => project.id}
	%td.projectname
		= link_to project.name, project_steps_path(project)
	%td.nextstep
		= project.next_step_string
	%td
		= link_to 'Update', edit_project_path(project)
		= link_to 'Delete', project, :confirm => "Delete this project and #{project.steps.count} associated steps?", :method => :delete