= link_to "Back to all projects", projects_path
%h1
	Project: #{@project.name}
%h3
	Next Step: #{@project.next_step_string}
%table
	%tr
		%th Done?
		%th Step
		%th Est. Time (Min)
		%th Actions
		= render @project.steps 
= render :template => 'steps/new'