%tr
	%td
		= form_for @step do |f|
			= f.check_box 'completed', :class => 'submittable'
	%td
		- if step.completed
			.step_completed
				= step.content   
		- else
			.step_uncompleted
				= step.content   
	%td
		= step.estimated_time
	%td
		= link_to 'Update', edit_step_path(step)
		= link_to 'Delete', step, :method => :delete