= link_to "Back to all projects", projects_path
%h1
  Project: #{@project.name}
%h3
  #nextStepText Next Step: #{@project.next_step_string}
%table#stepTable.condensed-table
  %thead.tableHead
    %tr
      %th.span2 Done?
      %th Step
      %th.span4 Est. Time (Min)
      %th.span3 Actions
  %tbody.content
    - @steps.each do |step|
      %tr{ :id => "step_#{step.id}" }
        %td
          = form_for [@project, step] do |f|
            = f.check_box 'completed', :class => 'submittable'
        %td
          - if step.completed
            .step_completed
              = step.content   
          - else
            .step_uncompleted
              = step.content   
        %td
          = step.estimated_time
        %td
          = link_to 'Update', edit_project_step_path(@project, step)
          = link_to 'Delete', project_step_path(@project, step), :method => :delete
= form_for [@project, Step.new] do |f|
  = f.hidden_field :project_id, :value => @project.id
  = f.text_field :content, :size => 100, :placeholder => 'Add new step', :style => "height:20px;width:600px;"
  = f.select(:estimated_time, %w[5 10 15 20 25 30 35 40], {:selected => 10}, {:style => 'width:80px;'})
  min
  = f.submit "Add", :class => 'btn primary', :style => 'margin-left: 20px;'