!!!
%html
  %head
    %title= title
    = render 'layouts/stylesheets'
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.hotkeys", "jquery.watermark", 'jquery-ui-1.8.16.custom.min'
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"
    = csrf_meta_tag
  %body
    = render 'layouts/header'
    .container
      .hero-unit
        %section.round
          - flash.each do |key, value|
            %div{:class => "flash #{key}"}= value
          = yield