<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>NextStep: Project Manager</title>
		<%= stylesheet_link_tag :all %>
		<%= javascript_include_tag :defaults %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<div class="container">
		<%= render 'layouts/header' %>
			<%= yield %>           
		</div>          
		<%= render 'layouts/footer' %>
	</body>
</html>
